/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
  ========================================
  Custom styles
  ========================================
*/


body {
		color: #888;
		font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*---------------Header---------------*/

header {

		background-image: url(../design2_image1.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		height: 200px;
}



h1 {	

	   padding-left: 20px;
		font-size: 36px;		
		background-color: #00334d;
		color: #fff;
		text-shadow: 2px 2px #000;
		line-height: 50px;
		font-weight: bold;
    
}

.menu {
		position: absolute;
        top: 0;
        right: 0;
		margin: 0 1.5%;
        line-height: 44px;
		margin-top:20px;
}

.menu li{
        display: inline; /*esto es lo que hace que los elementos de la lista que están uno debajo de otro en el html queden uno al lado del otro*/

}


.menu a{
        text-decoration: none;
        color: #99ff33;
        font-weight: bold;
        font-size: 14px;
		letter-spacing: .5px;
		text-transform: uppercase;
        background: #00334d;
        padding: 10px;
    border: 1px solid #99ff33
}


a.activo{
    background: #99ff33;
    color: #00334d;
    border: 1px solid #00334d;
}
/*---------------Page layout---------------*/


#logo {
		position: absolute;
		top: 260px;
		left: 20px;
		width: 150px;
}

h2 {
		text-align:center;
		font-size: 30px;
		color: #00334d;
		background-color: #99ff33;
		line-height: 44px;
		font-weight: bold;
}

h3 {
		color: #00334d;
		font-style:italic;
		line-height: 44px;
		font-weight: bold;
}


.container {
        position: absolute; 
		width: 50%;
	   left: 200px;
		color: #000;
		line-height: 44px;
		padding: 20px 0px 0px 50px;
}