/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
  ========================================
  Custom styles
  ========================================
*/


body {
		color: #888;
		font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*---------------Header---------------*/

header {
		display: block;
		background-image: url(../design1_image1.jpg);
		background-position: 0% 65%;
		background-repeat: no-repeat;
		background-size: 100%;
		height: 200px;
}

h1 {
	   position: absolute; 
	   top: 0px; 
		font-size: 36px;
		color: #fff;
		text-shadow: 2px 2px #000;
		line-height: 44px;
		font-weight: bold;
}

#logo {
		position: absolute;
		top: 150px;
		right: 50px;
		width: 150px;
}

/*---------------Menu---------------*/

.menu {
		float: left;
		margin: 0 1.5%;
		margin-top:20px;
}

.menu a {
    text-decoration:none; 
    line-height: 44px;
    font-size: 14px;
    font-weight: bold;
    color: #00334d;
    letter-spacing: .5px;
    text-transform: uppercase;
}

a.activo {
    text-decoration: underline;
}
/*---------------Page layout---------------*/

h2 {
		text-align:center;
		font-size: 30px;
		color: #00334d;
		background-color: #99ff33;
		line-height: 44px;
		font-weight: bold;
}

h3 {
		color: #00334d;
		font-style:italic;
		line-height: 44px;
		font-weight: bold;
}


.container {
		float: left;
		width: 50%;
		color: #000;
		line-height: 44px;
		padding: 20px 0px 0px 50px;
}